#### Створити змінні базових (atomic) типів. 
Базові типи: character, numeric,integer, complex, logical.

In [1]:
import pandas as pd
import numpy as np

#### Створити змінні базових (atomic) типів. 
Базові типи: character, numeric,integer, complex, logical.

In [2]:
Integer = 23
String = 'Andryha'
Boolean = True
Float = 3.4
Empty_List = []

#### Створити вектори, які: 
* містить послідовність з 5 до 75; 
* містить числа 3.14,2.71, 0, 13; 
* 100 значень TRUE.

In [3]:
vector_1 = np.arange(start = 5, stop = 75)
print('Вектор який містить послідовність з 5 до 75:\n', vector_1)

Вектор який містить послідовність з 5 до 75:
 [ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52
 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74]

In [4]:
vector_2 = np.array([3.14, 2.71, 0, 13])
print('Вектор який містить числа 3.14, 2.71, 0, 13:\n', vector_2)

Вектор який містить числа 3.14, 2.71, 0, 13:
 [ 3.14  2.71  0.   13.  ]

In [5]:
vector_3 = np.full((1, 100), True)
print('Вектор який містить 100 значень TRUE:\n', vector_3)

Вектор який містить 100 значень TRUE:
 [[ True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True  True]]

#### Створити наступну матрицю 
*  0.5 1.3 3.5 
*  3.9 131 2.8
*  0   2.2 4.6
*  2   7   5.1

In [6]:
array_1 = [[0.5, 1.3, 3.5], 
           [3.9, 131, 2.8],
           [0,   2.2, 4.6],
           [2, 7, 5.1]]

for i in array_1:
    print(i, end=' ')
    print()

[0.5, 1.3, 3.5]
[3.9, 131, 2.8]
[0, 2.2, 4.6]
[2, 7, 5.1]

#### Створити довільний список (list), в який включити всі базові типи.

In [7]:
list_of_elem = [3, 0.4, True, False, 'Data Science']

#### Створити фактор з трьома рівнями «baby», «child», «adult».

In [8]:
people = pd.DataFrame(np.random.randint(low = 1, high = 89, size = (3,3)),
                      columns = ['baby', 'child', 'adult'])
print(people)

   baby  child  adult
0    13     23     75
1    42     24     75
2    41     71     47

#### Знайти індекс першого значення NA в векторі 1,2,3,4,NA,6,7,NA,9,NA,
1. Знайти кількість значень NA.

In [9]:
# К сожалению в языке программирования - Пайтон - нет значений как NA. Но их можно задать, сделав преобразования
vector_na = [1, 2, 3, 4, np.nan, 6, 7, np.nan, 9, np.nan]
#pd.Series(vector_na, dtype = object).fillna(0).tolist()
vector_na

[1, 2, 3, 4, nan, 6, 7, nan, 9, nan]

In [10]:
df = pd.DataFrame([[0,1,3,4,np.nan,2],[3,5,6,np.nan,3,3], [3, np.nan, 2, 5, 13, 0]])
df

   0    1  2    3     4  5
0  0  1.0  3  4.0   NaN  2
1  3  5.0  6  NaN   3.0  3
2  3  NaN  2  5.0  13.0  0

In [11]:
np.where(np.asanyarray(np.isnan(df)))

(array([0, 1, 2]), array([4, 3, 1]))

#### Створити довільний dataframe та вивести в консоль.

In [12]:
new_df = pd.DataFrame(np.random.randint(low = 2, high = 100, size = (4,4)),
                      columns = ['Data Science', 'Big Data', 'Machine Learning', 'Nerural Network'])
new_df

   Data Science  Big Data  Machine Learning  Nerural Network
0            89        33                55                7
1            89        91                84               73
2            34        24                16               44
3            10        91                73               93

#### Змінити імена стовпців цього data frame.

In [13]:
new_df.rename(index = str, columns={'Data Science':'Abracadamba', 'Big Data':'Dannie'})

   Abracadamba  Dannie  Machine Learning  Nerural Network
0           89      33                55                7
1           89      91                84               73
2           34      24                16               44
3           10      91                73               93