### Задания

1. Функція add2(x, y), яка повертає суму двох чисел.
2. Функція above(x,n),яка приймає вектор та число n,таповертаєвсі
елементі вектору, які більше n. По замовчуванню n = 10.
3. Функція my_ifelse(x,exp,n),яка приймає вектор x,порівнює всі його
елементи за допомогою exp з n, та повертає елементи вектору, які відповідають умові expression. Наприклад, my_ifelse(x, “>”, 0) повертає всі елементи x, які більші 0. Exp може дорівнювати “<”, “>”, “<=”, “>=”, “==”. Якщо exp не співпадає ні з одним з цих виразів, повертається вектор x.
4. Функція columnmean(x,removeNA),яка розраховує середнє значення (mean) по кожному стовпцю матриці, або data frame. Логічний параметр removeNA вказує, чи видаляти NA значення. По замовчуванню він дорівнює TRUE.

Импортируем библиотеки, которые будем использовать:

In [1]:
import pandas as pd
import numpy as np
import random

#### Первая задача
add2(x, y)

In [2]:
def add2(x, y):
    return x + y
add2(3, 5)

8

#### Вторая Задача
above(x,n)

In [3]:
vector = [1,2,3,4,5,6,7,8,9]

In [4]:
def above(x, n = 10):
    for i in x:
        if n >= i:
            print(i)
        else:
            print(f'Число {n} меньше {i}')
above(vector, 2)

1
2
Число 2 меньше 3
Число 2 меньше 4
Число 2 меньше 5
Число 2 меньше 6
Число 2 меньше 7
Число 2 меньше 8
Число 2 меньше 9

In [5]:
above(vector)

1
2
3
4
5
6
7
8
9

#### Третья задача
my_ifelse(x,exp,n). Вставка кода на языке R.

```r
	my_ifelse<-function(x,exp,n){


	  if (exp == "<"){
	    return(x[x<n])
	  }
	  else if (exp==">"){
	    return(x[x>n])
	  }
	  else if (exp=="<="){
	    return(x[x<=n])
	  }
	  else if (exp==">="){
	    return(x[x>=n])
	  }
	  else if (exp=="=="){
	    return(x[x==n])
	  }
	  else x
	}

	my_ifelse(x, '>=', 4)
    [1] 19  9 14  8 18 12 13 17
	```

#### Четвертая задача
columnmean(x,removeNA). Вставка кода на языке R.

```r
columnmean <- function(x, removeNA = TRUE) {
    return(colMeans(x, na.rm = removeNA))
}

```

```r
columnmean(matrix(c(20, NA, 18, NA, 16, 14, NA, 12), nrow = 2, ncol = 4), TRUE)
[1] 20 18 15 12
```