### Задания

В лабораторній роботі необхідно виконати наступні дії:
1. Створит вектор v із 100 елементів командою v<-rnorm(100).Для цього
вектору виведіть: 10-й елемент; елементи з 10-го по 20-й включно; 10
елементів починаючи з 20-го; елементи більше 0.
2. Створити фрейм (data frame) y командою y <- data.frame(a = rnorm(100), b
= 1:100, cc = sample(letters, 100, replace = TRUE)). Для цього data frame виведіть: останні 10 строк; строки з 10 по 20 включно; 10-й елемент стовпця b; повністю стовпець cc, при цьому використайте ім’я стовпця.
3. Створити вектор z з елементами 1,2,3,NA,4,NA,5,NA.Для цього вектору: виведіть всі елементи, які не NA; підрахуйте середнє значення всіх елементів цього вектору без NA значень та з NA значеннями.

Импортируем библиотеки, которые будем использовать:

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
vector = []
for i in range(100):
    vector.append(i)
# Выводим 10тый элемент
vector[10]

10

#### Первая Задача
Выводим елементы: "з 10-го по 20-й включно; 10 елементів починаючи з 20-го; елементи більше 0."

In [3]:
print("\nВыводим с 10-го по 20-й включительно:")
print(vector[10])
print("\nВыводим 10 элементов начиная с 20-го:")
print(vector[20:31])

for i in vector:
    counter = []
    if i > 0:
        counter.append(i)
        print(i, end=" ")
    else:
        print("\nЭлементы которые > 0:")

Выводим с 10-го по 20-й включительно:
10

Выводим 10 элементов начиная с 20-го:
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

Элементы которые > 0:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

#### Вторая Задача
Виведіть: останні 10 строк; строки з 10 по 20 включно; 10-й елемент стовпця b; повністю стовпець cc, при цьому використайте ім’я стовпця

In [4]:
# Creating dataframe
# Создаем фрейм используя наш вектор на 100 элементов
names = ['A', 'B', 'CC']
df = pd.DataFrame(np.random.randn(100, 3), columns=list(names))

In [5]:
print("Выводим последние 10 строк:")
df.iloc[-10:]

Выводим последние 10 строк:

           A         B        CC
90  0.612581 -0.912278 -0.956922
91 -0.103240 -0.649813  0.819858
92 -1.423301  0.568752 -1.615302
93  1.685871  0.900474  0.922306
94 -0.560874  2.160402  0.399433
95  0.079230  1.588109 -0.087649
96 -0.005454  0.209928 -0.394518
97 -0.082897 -1.200568 -0.230870
98  1.344952  1.724355 -0.179523
99  2.986940  1.646235 -0.978427

In [6]:
print("Выводим строки з 10 по 20 включительно:")
df.iloc[10:21]

Выводим строки з 10 по 20 включительно:

           A         B        CC
10 -1.295489  0.220705 -2.303635
11  1.202112  0.431357 -0.892175
12  0.708383  1.985399 -1.303970
13 -0.364728  1.895378  1.354322
14 -0.894455 -0.107596  1.213015
15  0.107591 -0.983055  1.242052
16 -1.029504 -1.711324  1.412363
17 -0.199171  0.498665  0.011825
18  1.016207 -0.316969  0.660876
19  1.066572 -0.243696 -0.262158
20  0.765765  0.854469 -1.170207

In [7]:
print("Выводим десятый элемент столбца Values:")
df['B'][10]

Выводим десятый элемент столбца Values:

0.2207045470177203

In [8]:
print("Выводим полностью стольбец 'cc', при этом обращаясь(сипользуя)имя столбца:")
df['CC']

Выводим полностью стольбец 'cc', при этом обращаясь(сипользуя)имя столбца:

0    -0.220399
1    -1.029605
2    -0.244758
3    -0.409132
4    -2.058154
5    -1.086848
6    -0.667042
7    -0.484025
8    -1.979766
9    -0.542355
10   -2.303635
11   -0.892175
12   -1.303970
13    1.354322
14    1.213015
15    1.242052
16    1.412363
17    0.011825
18    0.660876
19   -0.262158
20   -1.170207
21    0.067431
22    0.120655
23   -0.804077
24    0.347743
25    0.601983
26    1.203600
27    0.933199
28   -0.578742
29    1.026208
        ...
70   -0.244738
71    0.744235
72   -1.033436
73   -1.127074
74    1.294001
75   -1.504344
76    1.217311
77   -2.074925
78   -0.922600
79    2.097800
80   -2.370480
81    0.299891
82   -0.172664
83    0.395576
84    0.603204
85   -0.724010
86    0.531667
87    3.326224
88   -0.842832
89   -0.086263
90   -0.956922
91    0.819858
92   -1.615302
93    0.922306
94    0.399433
95   -0.087649
96   -0.394518
97   -0.230870
98   -0.179523
99   -0.978427
Name: CC, Length: 100, dtype: float64

#### Третья Задача
Створити вектор z з елементами 1,2,3,NA,4,NA,5,NA.Дляцього вектору: виведіть всі елементи, які не NA; підрахуйте середнє значення всіх елементів цього вектору без NA значень та з NA значеннями.

In [9]:
df_1 = pd.DataFrame([[2,8,4,4,np.nan,2],[3,5,6,np.nan,5,3], [5, np.nan, 2, 1, 13, 23]])
df_1

   0    1  2    3     4   5
0  2  8.0  4  4.0   NaN   2
1  3  5.0  6  NaN   5.0   3
2  5  NaN  2  1.0  13.0  23

In [10]:
a = pd.Series([1, 2, 3, np.nan, 4, np.nan, 5, np.nan])
a

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    NaN
6    5.0
7    NaN
dtype: float64

Посчитаем сколько элементов у нас со значением - NaN

In [11]:
a.isnull().sum()

3

Посчитаем сколько элементов у нас со значением - not NaN

In [12]:
def not_a_nan(a):
    counter = 0
    for i in a:
        if not np.isnan(i):
            counter += 1
    return counter
# Print all non nan values
not_a_nan(a)

5

Посчитаем среднее значение всех элементов учитывая NaN значения

In [13]:
a.fillna(0).mean()

1.875

Посчитаем среднее значение всех элементов не учитывая NaN значения

In [14]:
a.mean()

3.0