### Задания

В лабораторній необхідно відповісти на запитання:
1. Які назви стовпців файлу даних?
2. Виведіть перші 6 строк фрейму даних.
3. Скільки спостерігань(строк) в датафреймі?
4. Виведіть останні 10 строк датафрейму.
5. Як багато значень «NA» в стовпці «Ozone»?
6. Яке середнє(mean)стовпця«Ozone».Виключити«NA»значення.
7. Виведіть частину набору даних (subset) зі значенням «Ozone» > 31 та «Temp» > 90. Яке середнє (mean) значень «Solar.R» в цьому наборі даних(subset)?
8. Яке середнє значення(mean) для «Temp» для червня(«Month» дорівнює 6)?
9. Яке максимальне значення «Ozone» для травня («Month» дорівнює 5)?

In [1]:
# Importing data analysis libraries
import pandas as pd
import numpy as np

# visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

#### 1. Які назви стовпців файлу даних?

In [2]:
#import data
df = pd.read_csv('data/hw1_data.csv')

In [3]:
df.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

#### 2. Виведіть перші 6 строк фрейму даних.

In [4]:
df.loc[:6]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6
6   23.0    299.0   8.6    65      5    7

#### 3. Скільки спостерігань(строк) в датафреймі?

In [5]:
len(df)

153

#### 4. Виведіть останні 10 строк датафрейму.

In [6]:
df.iloc[-10:]

     Ozone  Solar.R  Wind  Temp  Month  Day
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

#### 5. Як багато значень «NA» в стовпці «Ozone»?

In [7]:
df['Ozone'].isnull().sum()

37

#### 6. Яке середнє (mean) стовпця «Ozone» .Виключити «NA» значення.

In [8]:
df['Ozone'].mean()

42.12931034482759

#### 7. Виведіть частину набору даних (subset) зі значенням «Ozone» > 31 та «Temp» > 90. Яке середнє (mean) значень «Solar.R» в цьому наборі даних(subset)?

In [9]:
# Change the type of the columns
df['Temp'] = df['Temp'].astype('float')

In [10]:
#DF3 = DF[(DF['a'] == 0) |  (DF['b'] == 0)]
df1 = df[(df['Ozone'] > 31) & (df['Temp'] > 90)]
df1

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3  92.0      7    8
69    97.0    272.0   5.7  92.0      7    9
119   76.0    203.0   9.7  97.0      8   28
120  118.0    225.0   2.3  94.0      8   29
121   84.0    237.0   6.3  96.0      8   30
122   85.0    188.0   6.3  94.0      8   31
123   96.0    167.0   6.9  91.0      9    1
124   78.0    197.0   5.1  92.0      9    2
125   73.0    183.0   2.8  93.0      9    3
126   91.0    189.0   4.6  93.0      9    4

#### --> Яке середнє (mean) значень «Solar.R» в цьому наборі даних(subset)?

In [11]:
df1['Solar.R'].mean()

212.8

#### 8. Яке середнє значення(mean) для «Temp» для червня(«Month» дорівнює 6)?

In [12]:
df[df['Month'] == 6]['Temp'].mean()

79.1

#### 9. Яке максимальне значення «Ozone» для травня («Month» дорівнює 5)?

In [13]:
df[df['Month'] == 5]['Ozone'].max()

115.0